/*CSS for online recipe course project*/

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    text-decoration: underline;
}

p {
    font-size: 20px;
}

ol li {
    margin: 10px 0;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /* width: 400px; */
    height: 400px;
    object-fit: fill;
}
